.conteiner {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url("images/background-mercado.jpg");
  justify-content: flex-start;
  align-items: flex-start;
}
.titulo {
  position: absolute;
  width: 300px;
  height: 100px;
  left: calc(50% - 300px / 2 + 0.5px);
  top: 80px;
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fae848;

  mix-blend-mode: normal;
  backdrop-filter: blur(4px);
}
.formulario {
  position: absolute;
  width: 272px;
  height: 40px;
  left: calc(50% - 272px / 2 + 0.5px);
  top: 184px;
}
.entradaProduto {
  position: absolute;
  left: 0%;
  right: 18.38%;
  top: 2.5%;
  bottom: 0%;
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 38px;
  border-radius: 10px;
  border-width: 0px;
  background: #FFE0B1;
  color: rgba(18, 8, 8, 0.51);
}
.botaoAdicionar {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  background: #946c2f;
  border-width: 0px;
  color: #f2f2f2;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  top: 0px;
}
.lista {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 150px;
  max-height: 300px;
  left: calc(50% - 270px/2 + 0.5px);
  top: 249px;  
  align-items: center;
  background: #946C2F;
  border-radius: 19px;
  padding-bottom: 15px;  
  overflow-y: scroll;
}
.produtoEPreco {
  
  position: relative;
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFE0B1;  
  left: 0px;
  top: 20px;
  height: 30px;
  display: flex;
  flex-direction: row;    
}
.produto {
  width: 160px;
  height: 30px;
  color: #FFFFFF;
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;  
}
.preco {  
  width: 60px;
  height: 30px;  
}
.procurar {        
  position: absolute;
  top: 600px;  
  width: 150px;
  height: 40px;
  left: calc(50% - 150px/2 + 0.5px);
  border-width: 0px;
  bottom: 0%;
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;  
  align-items: center;
  text-align: center;
  color: #FFE0B1;
  background: #2C853A;
  border-radius: 10px;
}
